.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    font-size: 12px;
    color: #5C5470;
    border-bottom: 1px solid #5C5470;
    box-shadow: 0px 2px 0px 1px rgba(183,99,191,0.53);
-webkit-box-shadow: 0px 2px 0px 1px rgba(183,99,191,0.53);
-moz-box-shadow: 0px 2px 0px 1px rgba(183,99,191,0.53);

}
.container:last-child {
    border: none;

}
.image {
    width: 30px;
}
.name {
    width: 140px;
    font-size: 14px;
    margin-left: 15px;
    text-align: left;
    font-weight: bold;
    color: #333333;
}
.symbol {
    text-align: left;
    width: 100px;
}
.currentPrice {
    text-align: left;
    width: 100px;
}
.greenPriceChange,
.redPriceChange {
    width: 100px;
    text-align: left;
    font-weight: bold;
}
.redPriceChange{
    color: rgb(255, 38 ,38 );
}
.greenPriceChange{
    color: rgb(0,204 ,0 );
}

@media screen and (max-width: 480px) {
    .container {
        padding: 5px 5px;
       }
}