.coinContainer {
    margin: 50px auto;
    border: 2px solid #5C5470;
    border-radius: 10px;
    width: fit-content;
    background-color: #bdb3db;
    
}
.input {
    width: 300px ;
    margin-top: 50px;
    border: 1px solid #5C5470;
    border-radius: 5px;
    height: 20px;
    padding: 5px;
    background-color: #f6f6f6;
    transition: all 0.2s ease;
    

}
.input :focus {
    outline: none;
    border-color: #5C5470;
    background-color: white;
    box-shadow: rgba(74,74, 74, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 480px) {
    .coinContainer {
       width: 100%;
       box-sizing: border-box;
       }
       
}
    
